.blog-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    margin-top: 0;
}

.blog-post p {
    margin-bottom: 10px;
}

.blog-post small {
    color: #777;
}