/* sets font family, background, and margin for the body */
:root{
    --colorWhite: white;
    --colorLight: burlyWood;
    --colorBlack: black;
    --colorDark: purple;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--colorWhite);
}
/* styles the header element */
header {
    color: var(--colorWhite);
    padding: 20px;
    text-align: center;
}
/* adds padding to main element */
main {
    padding: 20px;
}
/* styles the footer element and fixes it to the bottom of the screen */
footer {
    color: var(--colorWhite);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* styles all links */
a {
    color: var(--colorWhite);
    text-decoration: none;
}
